* {
	margin: 0;
	padding: 0;
	font-family: lucida grande;
	color:rgb(255,255,255);
}

html {
		background-image: url('background.jpg');
		min-width:500px;
}

/* All header stuff. */

#yolo {
	min-height:700px;
	background: rgba(255,255,255,0.20);
	padding: 5% 0;

}

#noragrets {
	height: 100px;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

#noragrets p {
	font-size: 50px;
}

#swag {
	margin-left: 50px;
	margin-right: 45px;
	min-height:500px;
	font-weight: 200;
	position: relative;
	font-family: helvetica, sans-serif;
	padding: 10% 0;
}

#swag p {
	line-height: 25px;

}